qh-store-backend/n8n-newversion.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "33c2711f-826a-4eca-a956-548d75d9ab5f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b30c2b52-760e-4df2-bb7b-595dd33745ac",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2176,
        368
      ],
      "id": "28a88fde-5281-485b-af90-93227a76cda8",
      "name": "Message Processing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "560e52c3-044a-4042-aa9b-a385b935b723",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "6e90048a-6c50-4894-a65d-16b3d6f1e5e7",
              "name": "name",
              "value": "={{ $json.message.from.first_name }}",
              "type": "string"
            },
            {
              "id": "a53b213a-f2b6-4c97-aa06-581163e25d98",
              "name": "channel",
              "value": "telegram",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1760,
        320
      ],
      "id": "703d1ba9-b05e-4e5c-a081-fbeec7b65e6c",
      "name": "Text"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {
          "mimeType": ""
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1952,
        496
      ],
      "id": "bb9aa73e-bebd-4854-b707-ba4e1b589527",
      "name": "Voice",
      "webhookId": "28e2316e-cdc6-4421-a29a-6e09084e324e",
      "credentials": {
        "telegramApi": {
          "id": "gdTJe7SeghPKJcsb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-pro"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1728,
        496
      ],
      "id": "23e5f17f-2688-43b9-bbb5-a29517559452",
      "name": "Transcribe to text",
      "credentials": {
        "googlePalmApi": {
          "id": "lo0sIZxJ08c2heJB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "quangngo2316@gmail.com",
        "subject": "Cảnh báo: khách báo vấn đề",
        "emailType": "text",
        "message": "=⚠️ Cảnh báo sự cố từ khách hàng\nTên: {{ $json.name }}\nKeyword: {{ $json._issue.keyword || 'N/A' }}\nNội dung: {{ $json._issue.originalText || $json.message?.text || 'N/A' }}\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1232,
        464
      ],
      "id": "b55a916a-d0dc-4aa6-a1a0-ae7ebcedee17",
      "name": "Send an alert",
      "webhookId": "dfeb2915-a1c9-48ae-a995-11a79a8ae5de",
      "credentials": {
        "gmailOAuth2": {
          "id": "eAIBNzENH2w5wcZF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "quangngo2316@gmail.com",
        "subject": "Bạn có tin nhắn mới từ QH Chat Bot",
        "emailType": "text",
        "message": "=Chào đội ngũ QH Customer Support, khách hàng {{ $('FAQ1').item.json.name }} đã trao đổi với chat bot như sau:\n\"{{ $('FAQ1').item.json.message.text }}\"",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1264,
        720
      ],
      "id": "52f699d2-5fa4-426d-b8f1-f2d2314889c6",
      "name": "Send a notification",
      "webhookId": "bcb611c4-3a13-4d09-ae74-ab0534bbad6a",
      "retryOnFail": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "eAIBNzENH2w5wcZF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8250976923",
        "text": "={{\n(() => {\n  const trig = $('Telegram Trigger1').first().json.message || {};\n  const from = trig.from || {};\n  const name = $json.name ?? from.first_name ?? 'N/A';\n  const targetId = trig.chat?.id ?? 'N/A';\n  const keyword = $json._issue?.keyword ?? 'N/A';\n  const content = $json._issue?.originalText ?? $json.message?.text ?? '';\n\n  return '⚠️ Cảnh báo sự cố từ khách hàng\\n'\n    + 'Tên: ' + name + '\\n'\n    + 'Chat ID: ' + targetId + '\\n'\n    + 'Keyword: ' + keyword + '\\n'\n    + 'Nội dung: \"' + content + '\"\\n'\n    + '\\n[#RID:' + targetId + ']\\n'\n    + '<a href=\"tg://user?id=' + (from.id || targetId) + '\">Mở hồ sơ Telegram</a>';\n})()\n}}\n",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "=HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1312,
        112
      ],
      "id": "c83be48f-097e-42d1-bc61-5588eb933463",
      "name": "Send an alert to admin",
      "webhookId": "b943385c-3d2c-4b60-b514-134984a28e43",
      "credentials": {
        "telegramApi": {
          "id": "gdTJe7SeghPKJcsb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===== 1) Lấy text người dùng =====\nconst it = $input.first();\n\nconst raw =\n  it.json?.message?.text\n  || it.json?.output\n  || it.json?.text\n  || ((it.json?.candidates?.[0]?.content?.parts || []).map(p => p.text || '').join(' '))\n  || '';\n\nconst text = String(raw).trim();\nconst lower = text.toLowerCase().normalize('NFC');\nconst ascii = lower.normalize('NFD').replace(/[\\u0300-\\u036f]/g, ''); // bỏ dấu\n\n// ===== 2) Lấy keyword động từ Firestore =====\nconst entries = it.json?.severity_kw || []; // đến từ node \"Map keywords\"\n\n// (Optional) fallback nếu DB trống: thêm 4 từ mặc định\nif (!entries.length) {\n  entries.push(\n    { label: 'vấn đề', phrases: ['vấn đề'] },\n    { label: 'bị thủng', phrases: ['bị thủng'] },\n    { label: 'bị rách', phrases: ['bị rách','rách'] },\n    { label: 'bị lỗi', phrases: ['bị lỗi','lỗi'] },\n  );\n}\n\n// ===== 3) Helpers =====\nconst escapeRe = s => s.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n\nfunction makeWordRxUnicode(phrase) {\n  const body = escapeRe(phrase).replace(/\\s+/g, '\\\\s*');\n  try {\n    return new RegExp(`(?<!\\\\p{L})(${body})(?!\\\\p{L})`, 'iu');\n  } catch {\n    return new RegExp(`(?:^|[^\\\\p{L}])(${body})(?!\\\\p{L})`, 'iu');\n  }\n}\nfunction makeWordRxAscii(phrase) {\n  const body = escapeRe(phrase).replace(/\\s+/g, '\\\\s*');\n  try {\n    return new RegExp(`(?<![a-z0-9])(${body})(?![a-z0-9])`, 'i');\n  } catch {\n    return new RegExp(`(?:^|[^a-z0-9])(${body})(?![a-z0-9])`, 'i');\n  }\n}\n\n// Biên dịch bảng regex từ DB\nconst P_UNI = [];\nconst P_ASC = [];\nfor (const e of entries) {\n  const label = e.label || '';\n  const uni = (e.phrases && e.phrases.length ? e.phrases : [label]).filter(Boolean);\n  const asciiList = (e.ascii_phrases && e.ascii_phrases.length\n    ? e.ascii_phrases\n    : uni.map(p => p.normalize('NFD').replace(/[\\u0300-\\u036f]/g, ''))\n  );\n\n  for (const ph of uni)   P_UNI.push({ label, rx: makeWordRxUnicode(ph) });\n  for (const ph of asciiList) P_ASC.push({ label, rx: makeWordRxAscii(ph) });\n}\n\n// ===== 4) Match =====\nlet keyword = '', matched = '';\n\nfor (const { rx, label } of P_UNI) {\n  const m = lower.match(rx);\n  if (m) { keyword = label; matched = m[1] || m[0]; break; }\n}\nif (!keyword) {\n  for (const { rx, label } of P_ASC) {\n    const m = ascii.match(rx);\n    if (m) { keyword = label; matched = m[1] || m[0]; break; }\n  }\n}\n\n// ===== 5) Kết quả =====\nit.json._issue = {\n  found: Boolean(keyword),\n  keyword,            // nhãn (từ Firestore)\n  matched,            // cụm khớp thực tế\n  originalText: text,\n};\n\nreturn it;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        480
      ],
      "id": "76c0843d-a998-451b-a007-4047b360c4e8",
      "name": "Severity check"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "getAll",
        "projectId": "=ecommerce-cd2-4d41f",
        "database": "=(default)",
        "collection": "faq",
        "returnAll": true
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -1760,
        -16
      ],
      "id": "6baca43f-ae72-4df9-b4a3-02220b72b840",
      "name": "FAQ Data",
      "credentials": {
        "googleApi": {
          "id": "zczhPrNTwTj9RnWo",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "getAll",
        "projectId": "ecommerce-cd2-4d41f",
        "collection": "=severity_keywords",
        "returnAll": true
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -320,
        688
      ],
      "id": "13977579-88ee-4637-97d2-bd1986cc31c6",
      "name": "Severity data",
      "credentials": {
        "googleApi": {
          "id": "zczhPrNTwTj9RnWo",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "05f49b82-50de-42c1-bf9c-267013119503",
              "leftValue": "={{ $json._issue.found }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        864,
        464
      ],
      "id": "e0c38d14-26be-481a-9b4c-ba3b20ded2f6",
      "name": "If severity"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00aab606-bbb0-4dbf-9f09-836b48456f6a",
              "leftValue": "={{ $json.enabled }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -32,
        688
      ],
      "id": "1b60e4e4-455c-4788-bab1-8bdf14a1e63f",
      "name": "If enable"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "severity_kw",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        192,
        688
      ],
      "id": "eb7e901e-6369-412f-ad6a-36b9e6ca696b",
      "name": "Aggregate severity_kw"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2400,
        368
      ],
      "id": "85299b46-cbc4-4e15-a02a-580f604f46ec",
      "name": "Telegram Trigger1",
      "webhookId": "1f77ff09-cf95-46d8-b4fe-8f9e0960335a",
      "credentials": {
        "telegramApi": {
          "id": "gdTJe7SeghPKJcsb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{\n  ($json.context \n    ? 'DÙNG NGHIÊM NGẶT ngữ cảnh sau để trả lời. Nếu ngữ cảnh không đủ, hãy nói rõ là không đủ.\\n'\n      + $json.context + '\\n\\nCâu hỏi: ' + $json.userQuestion\n    : $json.userQuestion\n  )\n  + ($json.name ? '\\n\\nTên người dùng: ' + $json.name : '')\n}}\n",
        "options": {
          "systemMessage": "Bạn là trợ lý CSKH cho cửa hàng quần áo. Luôn trả lời bằng TIẾNG VIỆT.\n\nBẮT BUỘC dùng đúng MẪU sau (đừng thêm/bớt):\n\"Chào <Tên người dùng>, <câu trả lời>\"\n\n- <tên người dùng>: lặp lại tên của người dùng.\n- <câu trả lời>: câu trả lời ngắn gọn, chính xác. Nếu không chắc, yêu cầu người dùng cung cấp thêm thông tin.\n- Không được viết hoa chữ cái đầu khi đứng đằng sau dấu phẩy.\n- Không dùng markdown; nếu cần định dạng, giả định HTML."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -384,
        96
      ],
      "id": "7ac8c868-1b7d-4b48-8a70-9d777c5623df",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -384,
        320
      ],
      "id": "0c21b22c-204a-41ec-b5ca-308cae80f8d8",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "cgeQQkeZRoLlJlwQ",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ ($('Telegram Trigger1').isExecuted && $('Telegram Trigger1').first().json.message.message_id)\n   || ($('Zalo Event Trigger').isExecuted && $('Zalo Event Trigger').first().json.data.actionId)\n   || '' }}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -256,
        320
      ],
      "id": "cc0401a2-8604-44fc-a049-7b4246b8b7d9",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "3935648c-1f8d-4fba-b667-ca11dd5e5a98",
      "name": "Send a text message2",
      "webhookId": "5dcf9e51-73cf-431b-88d1-72c29daf5a75",
      "credentials": {
        "telegramApi": {
          "id": "gdTJe7SeghPKJcsb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lấy đúng **1 item** sau Merge\nconst item = $input.first();\nconst question = (item.json?.message?.text || $input.first().json.content.parts[0].text || '').toLowerCase();\nconst faq = item.json?.faq || [];\n\n// Scoring đơn giản\nfunction score(entry, q) {\n  const tokens = (entry.keywords?.length ? entry.keywords.join(' ') : entry.q || '')\n    .toLowerCase().split(/\\s+/).filter(Boolean);\n  return tokens.length\n    ? tokens.reduce((s,t)=> s + (q.includes(t) ? 1 : 0), 0) / tokens.length\n    : 0;\n}\n\nlet best = null, bestScore = 0;\nfor (const f of faq) {\n  const sc = score(f, question);\n  if (sc > bestScore) { bestScore = sc; best = f; }\n}\n\nitem.json.userQuestion = question;\nitem.json.context = bestScore >= 0.5\n  ? `Tài liệu nội bộ:\\nQ: ${best.q}\\nA: ${best.a}`\n  : '';\n\nreturn item;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        464
      ],
      "id": "fbadfe67-2106-439a-a931-276a7287c5f5",
      "name": "FAQ1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -832,
        464
      ],
      "id": "071c9eee-dab4-42ff-b93b-e885952b605d",
      "name": "Merge2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "faq",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1056,
        160
      ],
      "id": "acf2ecc8-2d06-4255-a293-4260ac956abf",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bee844b1-1f52-4e5f-8732-2bd72c5406c0",
              "name": "a",
              "value": "={{ $json.answer }}",
              "type": "string"
            },
            {
              "id": "7e16cbbb-db39-4d69-a619-3293879fd5b9",
              "name": "q",
              "value": "={{ $json.question }}",
              "type": "string"
            },
            {
              "id": "87aad084-7d50-4cc1-b45e-c09ed31c0ea6",
              "name": "keywords",
              "value": "={{ $json.keywords }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        160
      ],
      "id": "c0d091f8-1202-43d0-9db1-3daa3da71d6b",
      "name": "filter field1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "efa69981-e894-4332-a450-b01babd8aef2",
              "name": "text",
              "value": "={{ $('AI Agent1').item.json.output }}",
              "type": "string"
            },
            {
              "id": "1ae48d93-a87a-423f-a09e-48e4d3753360",
              "name": "chat_id",
              "value": "={{ $('Telegram Trigger1').item.json.message.from.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        0
      ],
      "id": "70233062-71be-4bbf-a2d3-253db9e0eeb0",
      "name": "adding chat id1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        416,
        400
      ],
      "id": "3713c122-6590-443d-87c0-22803e9b65f4",
      "name": "Merge3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-social-zalo.zaloUserLogin",
      "typeVersion": 3,
      "position": [
        -2400,
        1136
      ],
      "id": "eef00a9d-c99e-4c7d-a253-1b257794a93e",
      "name": "Zalo Login Via QR Code",
      "credentials": {
        "n8nApi": {
          "id": "qQ29sWoSXsr6ML19",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "get",
        "operation": "getContext"
      },
      "type": "n8n-nodes-social-zalo.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        -2400,
        912
      ],
      "id": "de2c8c89-79c2-47e3-ba7f-e906e4642505",
      "name": "Lấy thông tin ngữ cảnh của tài khoản hiện tại",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "9Px6XJZpCeoV2G9V",
          "name": "Zalo Ngô Thành Quang - 2025-10-17T17:04:17.331Z"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-social-zalo.zaloUser",
      "typeVersion": 1,
      "position": [
        -1952,
        688
      ],
      "id": "63e448a5-16d3-4931-91c4-6512c49a4b6c",
      "name": "Zalo Event Trigger",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "9Px6XJZpCeoV2G9V",
          "name": "Zalo Ngô Thành Quang - 2025-10-17T17:04:17.331Z"
        }
      }
    },
    {
      "parameters": {
        "threadId": "={{ $('Zalo Event Trigger').item.json.data.uidFrom }}",
        "message": "={{ $('AI Agent1').item.json.output }}"
      },
      "type": "n8n-nodes-social-zalo.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        192,
        192
      ],
      "id": "9faf5935-2fa2-4844-bb71-c90e2ffe3732",
      "name": "Gửi tin nhắn",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "9Px6XJZpCeoV2G9V",
          "name": "Zalo Ngô Thành Quang - 2025-10-17T17:04:17.331Z"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b798df9b-73fe-46c5-a302-272ba3321bdf",
              "name": "name",
              "value": "={{ $json.data.dName }}",
              "type": "string"
            },
            {
              "id": "eedba7ba-a981-40e6-ae17-8f7bf65f33c0",
              "name": "message.text",
              "value": "={{ $json.data.content }}",
              "type": "string"
            },
            {
              "id": "5ebe0f73-d46c-4629-a65c-288afd5dd872",
              "name": "channel",
              "value": "zalo",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1728,
        720
      ],
      "id": "02a718bf-1e8e-4ce9-beec-2fc9df105d33",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('FAQ1').item.json.channel }}",
                    "rightValue": "=telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "77899436-c527-4938-975e-63a784ae3ebb"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a979cde6-85c1-4bdd-bbf8-0b8fa6f941bd",
                    "leftValue": "={{ $('FAQ1').item.json.channel }}",
                    "rightValue": "zalo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -32,
        96
      ],
      "id": "3a051e02-1737-478a-9397-c5e78b3053ff",
      "name": "Switch"
    },
    {
      "parameters": {
        "threadId": "3775165594672488858",
        "message": "={{\n(() => {\n  const name = $json.name ?? 'N/A';\n  const keyword = $json._issue?.keyword ?? 'N/A';\n  const content = $json._issue?.originalText ?? $json.message?.text ?? '';\n\n  return '⚠️ Cảnh báo sự cố từ khách hàng\\n'\n    + 'Tên: ' + name + '\\n'\n    + 'Keyword: ' + keyword + '\\n'\n    + 'Nội dung: \"' + content + '\"\\n'\n})()\n}}\n"
      },
      "type": "n8n-nodes-social-zalo.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        1312,
        304
      ],
      "id": "b4f69c80-28e5-425c-aac6-40366b42d9f9",
      "name": "Gửi tin nhắn1",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "9Px6XJZpCeoV2G9V",
          "name": "Zalo Ngô Thành Quang - 2025-10-17T17:04:17.331Z"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "161f4aa0-83c2-48a0-aa9c-4a40de6deed9"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "13e05660-823b-409b-8066-f3ea8d8b8f57",
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "zalo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1088,
        224
      ],
      "id": "598cffaa-0a30-46a2-877a-83ccf41490f8",
      "name": "Switch1"
    },
    {
      "parameters": {
        "url": "https://fat-premiere-photographers-intensity.trycloudflare.com/api/faq",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{ \"x-api-key\": \"f74fca5e6fad9d0f19df65a204a130f3c88a5bd6\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1440,
        272
      ],
      "id": "646b3667-7de7-4dee-b594-ea09db716196",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Message Processing": {
      "main": [
        [
          {
            "node": "Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice": {
      "main": [
        [
          {
            "node": "Transcribe to text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe to text": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Severity check": {
      "main": [
        [
          {
            "node": "If severity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FAQ Data": {
      "main": [
        []
      ]
    },
    "Severity data": {
      "main": [
        [
          {
            "node": "If enable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If severity": {
      "main": [
        [
          {
            "node": "Send an alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If enable": {
      "main": [
        [
          {
            "node": "Aggregate severity_kw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate severity_kw": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Message Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "FAQ1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Severity data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "FAQ1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "filter field1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "adding chat id1": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Severity check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zalo Event Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "adding chat id1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gửi tin nhắn",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Send an alert to admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gửi tin nhắn1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "filter field1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "43b67174-074b-495f-a3f9-b241f6f916df",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a0256d9537cbdc3f4428a37be148be6081900622f7fa40b75379b17ce48404ce"
  },
  "id": "wEhORlCmhVKKZ6ML",
  "tags": []
}